<script type="text/ng-template" id="template-client-portfolio-settings" ng-controller="WizardPortfolioInitController">
    <h5 class="caption-subject font-green bold uppercase">Configuration du portefeuille</h5>
    <hr>
    <div class="wizard-steps">
        <span ng-class="active0">1</span>
        <span ng-class="active1">2</span>
    </div>
    <div ng-show="wizard.step == 0" client-portfolio-settings></div>
    <div ng-show="wizard.step == 1" class="portlet light bordered">
        <div id="wizard-portfolio-model" data-lazy="true" ng-etf-list></div>
    </div>
    <div class="margiv-top-10">
        <a ng-show="wizard.step == 1" href="javascript:void(0)" class="btn default pull-left"
           ng-click="wizard.prev()"> Etape précédent </a>
        <a href="javascript:void(0)" class="btn green-haze pull-right"
           ng-click="wizard.next()"> {{wizard.nextButtonLabel[wizard.step]}} </a>
        <span class="clearfix"></span>
    </div>
</script>

<div ng-controller="WizardController">

    <div class="row investir" >
        <div class="col-lg-12">
            <div class="portlet light bordered">

                <h2>Investir ou modifier mes stratégies.</h2>

                <p>Vous avez 841.50€ disponibles pour investir. Besoin de plus ? Vous pouvez
                    <a href="#" class="btn btn-primary btn-xl" uib-tooltip="A venir..." tooltip-class="todoTooltip">Alimenter votre compte</a>
                    <a href="#" class="btn btn-primary btn-xl" uib-tooltip="A venir..." tooltip-class="todoTooltip">Vendre une partir de mes investissements</a>
                </p>

                <p>Nous vous proposons trois façons d'investir</p>
                <ul>
                    <li><a href="#/investir">Mode débutant: Affiner votre stratégie grâce à nos questions</a></li>
                    <li><a href="#/explorer" >Mode initié: Utiliser notre explorateur d'investissement pour décrire vos idées</a></li>
                    <li><a href="#" uib-tooltip="A venir...(écran classique de saisie d'un code ISIN ou nom" tooltip-class="todoTooltip">Mode expert: si vous avez déjà un produit en tête</a></li>
                </ul>
                <BR>
                Vous pouvez aussi ...
                <a href="#" uib-tooltip="A venir..." tooltip-class="todoTooltip">refaire un investissement passé</a>

                <p>
                    note: on arrive aussi à l'investissement via les notifications d'actualité, qui renvoient à un questionnaire
                    similaire au mode débutant mais centré sur un sujet
                </p>
            </div>

        </div>
    </div>
</div>




</div>
