<div ng-controller="WizardController">
    <div id="wizard-state" data-current-step="{{wizard.step}}">
        <div ng-class="{valid: wizard.step >= 1, current: wizard.step == 1}"
             class="step fa fa-plus" data-title="Sélection"></div>
        <div ng-class="{valid: wizard.step >= 2, current: wizard.step == 2}"
             class="step fa fa-eur" data-title="Montant"></div>
        <div ng-class="{valid: wizard.step >= 3, current: wizard.step == 3}"
             class="step fa fa-area-chart" data-title="Simulation"></div>
        <div ng-class="{valid: wizard.step >= 4, current: wizard.step == 4}"
             class="step fa fa-check" data-title="Validation"></div>
    </div>

    <div id="sentence" ng-show="wizard.step < 3">
        <p ng-show="wizard.step > 1">
            Je souhaite investir
            <span class="questionnaire-sentence-keyword">
                {{wizard.order.amount.total}}&nbsp;{{client.portfolio.currencySymb}}</span>.</p>
        <strategy-keywords data-strategy="wizard.portfolio.strategy"></strategy-keywords>
    </div>

    <!--Step 1-->
    <div class="wizard-panel" data-step="1" ng-controller="InvestirController" ng-show="wizard.step == 1">
        <div class="row">
            <div class="col-lg-6">
                <div class="portlet">
                    <questionnaire
                            data-strategy="wizard.portfolio.strategy"
                            data-json="/protected/pages/dashboard/investir/questionnaire.json"></questionnaire>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="portlet">
                    <map id="maps-container" data-height="250"
                         data-model="wizard.portfolio.isins"></map>
                    <sector-chart-pie id="sectors-overview" data-height="200"
                                      data-model="wizard.portfolio.isins"
                                      data-show-in-legend="true"></sector-chart-pie>
                    <type-progress data-model="wizard.portfolio.etfs"
                                   data-show-in-legend="true">
                    </type-progress>
                    <etf-list data-model="{{wizard.portfolio.isins}}"></etf-list>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <a class="wizard-button-goto prev pull-left" ng-click="wizard.goto(wizard.step - 1)">Passer au mode
                    expert</a></div>
            <div class="col-lg-6">
                <a class="wizard-button-goto next pull-right" ng-click="wizard.goto(wizard.step + 1)">Passer à l'étape
                    suivante <i class="fa fa-angle-right"></i></a></div>
        </div>
    </div>

    <!--Step 2-->
    <div class="wizard-panel" data-step="2" ng-controller="InvestirMontantAjustementController" ng-show="wizard.step == 2">
        <div class="row">
            <div id="amount-box" class="bg-black">
                <div class="money"></div>
                <div class="title">Valeur du portfeuille</div>
                <div class="amount total">{{wizard.order.amount.total}}<span>{{client.portfolio.currencySymb}}</span>
                </div>

                <p>Ajouter des fonds</p>

                <div class="amount"><input type="real" ng-model="wizard.order.amount.adding" maxlength="5" autofocus>
                    <span>{{client.portfolio.currencySymb}}</span></div>
                <div class="tickets"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <a class="wizard-button-goto prev pull-left" ng-click="wizard.goto(wizard.step - 1)"><i
                        class="fa fa-angle-left"></i> Passer à l'étape précédente</a></div>
            <div class="col-lg-6">
                <a class="wizard-button-goto next pull-right" ng-click="wizard.goto(wizard.step + 1)">Passer à l'étape
                    suivante <i class="fa fa-angle-right"></i></a></div>
        </div>
    </div>

    <!--Step 3-->
    <div class="wizard-panel" data-step="3" ng-controller="InvestirRevoirController" ng-show="wizard.step == 3">
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line boxless tabbable-reversed">
                    <ul class="nav nav-tabs" id="tab-simulation">
                        <li class="active">
                            <a href="/investir/#tab_0" data-toggle="tab"> Simulation future </a>
                        </li>
                        <li>
                            <a href="/investir/#tab_1" data-toggle="tab"> Simulation passée </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="col-lg-5" style="float: right">
                                                <div id="slider-timeframe" class="form-group">
                                                    <div class="slider-col">
                                                        <label class="caption-subject control-label">Durée</label></div>
                                                    <div class="slider-col">
                                                        <rzslider rz-slider-model="timeframe"
                                                                  rz-slider-options="sliderTimeframe.options"></rzslider></div>
                                                    <div class="slider-col">
                                                        <input type="number" min="3" max="50"
                                                               class="form-control" ng-model="timeframe" required></div>
                                                </div>
                                            </div>
                                            <div class="caption caption-md">
                                            <span class="caption-subject font-green bold uppercase">
                                                Projection sur {{timeframe}} ans</span>
                                                <div class="explication-courbe">Voici une analyse de votre nouvel investissement
                                                    (rappeler l'investissement)</div>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <table id="fund_read_chart" style="display: table;">
                                                <tbody>
                                                <tr class="hi" style="display: table-row;">
                                                    <td>Favorable</td>
                                                    <td>13% chance</td>
                                                </tr>

                                                <tr class="med" style="display: table-row;">
                                                    <td>Attendu</td>
                                                    <td>68% chance</td>
                                                </tr>

                                                <tr class="lo" style="display: table-row;">
                                                    <td>Défavorable</td>
                                                    <td>13% chance</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div id="simulation-future"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_1">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption caption-md">
                                                <span class="caption-subject font-green bold uppercase">Simulation pasée</span>
                                                <div class="explication-courbe">Si vous aviez passé cet ordre il y a (mettre une combo) mois, la performance
                                                    de votre portefeuille aurait été:
                                                    La différence est : augmenter la part des actions US.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="form-group form-md-line-input">
                                                <select class="form-control" id="choix-period-invest-past" ng-model="periodeSelect" data-id-container="simulation-past" link-to-stcokchart>
                                                    <option ng-repeat="option in periodeData">{{option}}</option>
                                                </select>
                                            </div>
                                            <strategy-comparison id="simulation-past" data-strategies="model.strategies"></strategy-comparison>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <a class="wizard-button-goto prev pull-left" ng-click="wizard.goto(wizard.step - 1)"><i
                        class="fa fa-angle-left"></i> Passer à l'étape précédente</a></div>
            <div class="col-lg-6">
                <a class="wizard-button-goto next pull-right" ng-click="wizard.goto(wizard.step + 1)">Passer à l'étape
                    suivante <i class="fa fa-angle-right"></i></a></div>
        </div>
    </div>

    <!--Step 4-->
    <div class="wizard-panel" data-step="4" ng-controller="InvestirValidationController" ng-show="wizard.step == 4">
        <div class="portlet text-center">
            <h2>Récapitulatif</h2>

            <p>Je souhaite investir
                <span class="questionnaire-sentence-keyword">
                    {{wizard.order.amount.total}}&nbsp;{{client.portfolio.currencySymb}}</span>.</p>
            <strategy-keywords data-strategy="wizard.portfolio.strategy"></strategy-keywords>

            <div class="table-wrapper">
                <table class="table table-light">
                    <tbody>
                    <tr>
                        <td>Liquidités entrantes estimées</td>
                        <td class="text-right">{{profit | number: 2}}&nbsp;{{client.portfolio.currencySymb}}</td>
                    </tr>
                    <tr>
                        <td>Coût de la transaction</td>
                        <td class="text-right">{{wizard.order.amount.total * 0.2 | number: 2}}&nbsp;{{client.portfolio.currencySymb}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="portlet text-center bg-black">
            <input type="password" placeholder="Votre mot de passe">
            <a class="wizard-button-goto btn green" ng-click="wizard.order.process()">Passer les ordres</a>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <a class="wizard-button-goto prev pull-left" ng-click="wizard.goto(wizard.step - 1)"><i
                        class="fa fa-angle-left"></i> Passer à l'étape précédente</a></div>
        </div>
    </div>
</div>
