<!-- BEGIN PAGE HEADER-->
<div class="page-bar content-header" ng-controller="WizardController">
    <ul class="page-breadcrumb">
        <li>
            <a href="/">Direct ETF</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Investir</a>
        </li>
    </ul>

    <div id="wizard-state">
        <a id="wizard-step-1" data-step="1" data-state="current" href="javascript:void(0)">Sélection</a>
        <a id="wizard-step-2" data-step="2" data-state="unvalid" href="javascript:void(0)">Montant &amp; Ajustement</a>
        <a id="wizard-step-3" data-step="3" data-state="unvalid" href="javascript:void(0)">Revoir</a>
        <a id="wizard-step-4" data-step="4" data-state="unvalid" href="javascript:void(0)">Validation</a>
    </div>
</div>
<h3 class="page-title"> Nouvel ordre d'investissement </h3>

<script type="text/ng-template" id="template-client-portfolio-settings" ng-controller="WizardPortfolioInitController">
    <h5 class="caption-subject font-green bold uppercase">Configuration du portefeuille</h5>
    <hr>
    <div class="wizard-steps">
        <span ng-class="active0">1</span>
        <span ng-class="active1">2</span>
    </div>
    <div ng-show="wizard.step == 0" client-portfolio-settings></div>
    <div ng-show="wizard.step == 1" class="portlet light bordered">
        <div id="wizard-portfolio-model" data-lazy="true" ng-etf-list></div>
    </div>
    <div class="margiv-top-10">
        <a ng-show="wizard.step == 1" href="javascript:void(0)" class="btn default pull-left"
           ng-click="wizard.prev()"> Etape précédent </a>
        <a href="javascript:void(0)" class="btn green-haze pull-right"
           ng-click="wizard.next()"> {{wizard.nextButtonLabel[wizard.step]}} </a>
        <span class="clearfix"></span>
    </div>
</script>

<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<!--<div class="note note-info">-->
<!--<h3>Assistant Nouvel Investissement-->
<!--<span class="close" data-close="note"></span>-->
<!--</h3>-->
<!--<p> Utilisez cet assistant pour passer de nouveaux ordres d'investissement toute sécurité.</p>-->
<!--<br>-->
<!--<button class="btn blue">Démarrer l'assistant</button>-->
<!--</div>-->
<div class="wizard-panel" data-wizard-panel-step="1" ng-controller="InvestirController">
    <!-- Map box -->
    <div id="filter-view">
        <div id="filters-container" class="sidebar">
            <div id="filters-searchbar">
                <i class="fa fa-search"></i>
                <input type="text" id="search-etf" placeholder="rechercher...">
            </div>
            <ul class="sidebar-menu">
                <li class="activeX"><a href="#"><i class="fa fa-th-list"></i> <span>Secteurs</span>
                    <i class="fa fa-angle-left pull-right"></i></a>

                    <label>
                        <input type="checkbox" data-type="sector" data-value="Finance">
                        <span>Finance</span>
                    </label>
                    <label>
                        <input type="checkbox" data-type="sector" data-value="Industrie">
                        <span>Industrie</span>
                    </label>
                    <label>
                        <input type="checkbox" data-type="sector" data-value="Santé|Sante|Sant">
                        <span>Santé</span>
                    </label>
                    <label>
                        <input type="checkbox" data-type="sector" data-value="Energie">
                        <span>Energie</span>
                    </label>
                    <label>
                        <input type="checkbox" data-type="sector"
                               data-value="Services aux collectivité|Services aux collectivit">
                        <span>Services aux collectivité</span>
                    </label>
                    <label>
                        <input type="checkbox" data-type="sector" data-value="Technologie">
                        <span>Technologies de l'information</span>
                    </label>
                    <label>
                        <input type="checkbox" data-type="sector" data-value="Biens de consomation cyclique">
                        <span>Biens de consomation cyclique</span>
                    </label>
                </li>
                <li><a href="#"><i class="fa fa-map-marker"></i> <span>Régions</span>
                    <i class="fa fa-angle-left pull-right"></i></a>
                    <label>
                        <input type="checkbox" data-type="region" data-value="FR|France|Paris">
                        <span>France</span>
                    </label>
                    <label>
                        <input type="checkbox" data-type="region" data-value="DE|Allemagne|Germany">
                        <span>Allemagne</span>
                    </label>
                    <label>
                        <input type="checkbox" data-type="region" data-value="ES|Espagne|Madrid">
                        <span>Espagne</span>
                    </label>
                    <label>
                        <input type="checkbox" data-type="region" data-value="IT|Italie">
                        <span>Itablie</span>
                    </label>
                    <label>
                        <input type="checkbox" data-type="region" data-value="JP|Japon|Japan|Tokyo">
                        <span>Japon</span>
                    </label>
                    <label>
                        <input type="checkbox" data-type="region" data-value="GB|UK|Londre|London">
                        <span>Royaume-Uni</span>
                    </label>
                    <label>
                        <input type="checkbox" data-type="region" data-value="HK|CH|Chine|Hong|Kong">
                        <span>Hong Kong</span>
                    </label>
                </li>
            </ul>
        </div>
        <div id="maps-container" data-height="320" data-null-color="#fff" ng-etf-maps></div>
    </div>

    <!-- List of ETFs -->
    <div class="portlet light bordered">
        <div id="investir-etfs-list" data-header-template="/protected/pages/dashboard/investir/tpl/list-header.html"
             data-row-template="/protected/pages/dashboard/investir/tpl/list-row.html" ng-etf-list></div>
    </div>

    <button class="btn btn-success">Etape suivante: Montant &amp; Ajustement</button>
</div>

<!--Step 2-->
<div class="wizard-panel" data-wizard-panel-step="2" ng-controller="InvestirMontantAjustementController">
    <div class="row">
        <div class="col-md-4">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-green bold uppercase">Portefeuille</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="entry">Combien souhaitez-vous investir ?
                        <div class="range-wrapper-wallet text-center">
                            <input id="catch-max" name="wallet-range" type="text" class="input-range"
                                   data-min="1" data-max="{{client.portfolio.cash}}"
                                   data-from="{{client.portfolio.cash}}"
                                   data-postfix="&euro;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="portlet light bordered">
                <div id="investir-selection-list" data-lazy="true"
                     data-header-template="/protected/pages/dashboard/investir/tpl/selection-header.html"
                     data-row-template="/protected/pages/dashboard/investir/tpl/selection-row.html"
                     data-footer-template="/protected/pages/dashboard/investir/tpl/selection-footer.html"
                     ng-etf-list></div>
            </div>
        </div>
    </div>

    <div class="etf-action-dropdown collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle no-padding" data-toggle="dropdown"><span
                        class="order-number"></span>/<span class="order-price"></span>&euro; <span
                        class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <span class="natural-language">Acheter une quantité de <b class="order-number"></b> au coût unitaire de <b><span
                                class="order-price"></span>&euro;</b></span>
                    </li>
                    <li>
                                <span class="entry">Investir un pourcentage
                                    <input name="percent-range" class="input-range" type="text" value=""
                                           data-postfix="%">
                                </span>
                    </li>
                    <li class="divider"></li>
                    <li>
                                <span class="entry">Définir le prix de l'achat
                                    <input name="price-range" class="input-range" type="text" value=""
                                           data-postfix="&euro;">
                                </span>
                    </li>
                    <li class="divider"></li>
                    <li>
                                <span class="entry">Définir la quantité
                                    <input name="number-range" class="input-range" type="text" value="">
                                </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <button class="btn btn-success">Etape suivante: Revoir</button>
</div>

<!--Step 3-->
<div class="wizard-panel" data-wizard-panel-step="3" ng-controller="InvestirRevoirController">
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-green bold uppercase">Simulation future</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="simulation-future"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-green bold uppercase">Simulation passée</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="simulation-past"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Step 4-->
<div class="wizard-panel" data-wizard-panel-step="4" ng-controller="InvestirValidationController">
    <div class="row">
        <div class="col-lg-8">
            <div class="portlet light bordered">
                <div id="investir-order-list" class="update-with-etfs-selection" data-lazy="true"
                     data-header-template="/protected/pages/dashboard/investir/tpl/order-header.html"
                     data-row-template="/protected/pages/dashboard/investir/tpl/order-row.html"
                     data-footer-template="/protected/pages/dashboard/investir/tpl/order-footer.html" ng-etf-list></div>
            </div>

            <!-- Wallet -->
            <div class="portlet light bordered">
                <table class="table table-hover">
                    <thead>
                    <th colspan="2">Récaputilatif</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Liquidités disponibles</td>
                        <td class="text-right">{{client.portfolio.infos.cash | number: 2}}&nbsp;&euro;</td>
                    </tr>
                    <tr>
                        <td>Liquidités sortantes</td>
                        <td class="text-right">{{cash | number: 2}}&nbsp;&euro;</td>
                    </tr>
                    <tr>
                        <td>Liquidités entrantes estimées</td>
                        <td class="text-right">{{profit | number: 2}}&nbsp;&euro;</td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <td class="text-left">Liquidités restantes estimées après transaction</td>
                        <td class="text-right">{{client.portfolio.infos.cash - cash | number: 2}}&nbsp;&euro;</td>
                    </tr>
                    </tfoot>

                </table>
            </div>
        </div>

        <!-- Repartition des secteurs -->
        <div class="col-lg-4">
            <!-- Repartition des secteurs -->
            <div id="sector" class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-green bold uppercase">Répartition sectorielle</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="update-with-etfs-selection" data-height="200" data-lazy="true"
                         data-show-in-legend="true" ng-etf-sectors-chart></div>
                </div>
            </div>

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-green bold uppercase">Répartition dans le monde</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="update-with-etfs-selection" data-height="200" data-lazy="true" ng-etf-maps></div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-success">Valider l'ordre d'achat</button>
</div>