#wizard-state {
    font-size:.9em;

    text-align: center;

    position:relative;
    margin: 0 10%;


    margin-bottom: 6em;
    background-color: #fff;

    text-transform: uppercase;
}

#wizard-state, #wizard-state:before {
    height: 4px;
}

#wizard-state:before {
    content: "";
    position: absolute;
    background-color: #364150;
    left: 0;
    width:0;
    transition: width .2s ease;
}

#wizard-state[data-current-step="1"]:before {
    width: 0%;
}

#wizard-state[data-current-step="2"]:before {
    width: 34%;
}

#wizard-state[data-current-step="3"]:before {
    width: 67%;
}

#wizard-state[data-current-step="4"]:before {
    width: 100%;
}

#wizard-state .step {
    position: relative;
    display:inline-block;

    border-radius: 50% !important;

    width: 18px;
    height: 18px;

    top:-6px;

    margin-left: 30%;

    border-radius:50%;

    font-size:.9em;

    color: #364150;
    background-color: #fff;
    transition: background-color .2s ease;
}

@media (max-width: 1205px) {
    #wizard-state .step {
        margin-left: 28%;
    }
}

#wizard-state .step:first-child {
    float:left;
    margin-left: 0;
}

#wizard-state .step:last-child {
    float:right;
    /*margin-top: -20px;*/
    margin-right:0;
}

#wizard-state .step::before {
    position: relative;
    top: 40px;
    font-size: 1.2em;
}

#wizard-state .step::after {
    content: attr(data-title);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    display: inline-block;

    position: absolute;
    top: 22px;
    left: -63px;
    width: 148px;
}

#wizard-state .step.valid,
#wizard-state .step.current {
    background-color: #364150;
}

#wizard-state .step.valid::before {
    background-color: transparent;
}

#sentence {
    text-align: center;
    font-size: 1.3em;
    padding: 0 4em;
}

.wizard-panel {
    position:relative;
    clear: both;
}

.wizard-button-goto {
    text-transform: uppercase;
    font-size:16px;
    font-weight: bold;
    line-height: 65px;
}

.wizard-button-goto.prev {
    color: rgba(54, 65, 80, 0.56);
}

.wizard-button-goto.next {
    color: #36c6d3;
}

.wizard-button-goto i {
    font-size: 5em;
    position: relative;
    top: 21px;
}

.etf-column.name {
    padding-left:13px;
}

.etf-column.option {
	max-width:30px;
}

.etf-column.option,
.etf-column.price,
.etf-column.quantity {
	text-align: center;
}

.etf-column.price,
.etf-column.order {
    text-align:right;
}

table td {
    vertical-align: middle !important;
}

table td input.filter-checkbox.aCheck + label:before {
    display: none;
}

tfoot td {
    text-align:right;
    font-weight:bold;
    padding-left:8px !important;
    padding-right:8px !important;
    border-top: 1px solid rgba(122,122,122,0.1) !important;
}

#filters-list .filter-question-end input.aCheck[type=checkbox]:checked + label:before {
    left: -11px;
    top: -7px;
}


.wizard-panel tr input {
    width: 50px;
    text-align: right;
    padding: 0;
    border: 1px solid transparent !important;
}

.wizard-panel tr:hover input {
    border: 1px solid #ccc !important;
}

.wizard-panel tr.strike-line {
    text-decoration: line-through;
}

#slider-timeframe {
    display: table;
    position: absolute;
    right: 0;
    top: -10px;
}

.slider-col {
    display: table-cell;
    padding: 0 5px;
    line-height: 50px;
}

#slider-timeframe input {
    display: inline;
    width: initial;
    padding: 2px 7px;
}

#slider-timeframe rzslider {
    width: 200px;
    margin: auto;
}

#slider-timeframe label {
    font-weight: 600;
}

#slider-timeframe rzslider .rz-pointer {
    border-radius: 16px !important;
}

.explication-courbe {
    font-size: 14px;
    margin-top: 7px;
}

#choix-period-invest-past {
    width: initial;
    float: right;
}

.wizard-panel tr.strike-line input {
    background-color: transparent;
    cursor: default;
}

#tab-simulation {
    font-weight: 700;
    font-size: 16px;
}

table#fund_read_chart {
    display: none;
    border-radius: 4px !important;
    border: 2px solid #cccccc;
    border-collapse: collapse;
    background: #fff;
    position: relative;
    top: -348px;
    left: 120px;
    font-size: 11px;
    overflow: hidden;
    height: auto;
    width: 165px;
    text-align: left;
    font-weight: 700;
    font-style: normal;
}

table#fund_read_chart tr.hi {
    background: #579969;
}

table#fund_read_chart tr.med {
    background: #5FB778;
}

table#fund_read_chart tr.lo {
    background: #FED3C5;
}

table#fund_read_chart td {
    padding: 1px 5px;
}

table#fund_read_chart tr.contr {
    background: #fff;
}

table#read_chart tr.contr td {
    color: #044677;
    border-top: 1px solid #cccccc;
    text-shadow: none;
    text-align: right;
    width: 135px;
}

#tab_1 .portlet-body .form-group {
    padding-top: 0px !important;
    position: absolute;
    right: 30px;
    z-index: 100;
}

/*#tab_1 .portlet-title .caption, #tab_0 .portlet-title .caption{*/
    /*padding-left: 22px;*/
/*}*/

.investir {
    font-size: 1.5em;
}