.ngdialog.ngdialog-theme-default .ngdialog-content {
    background-color: #fff;
}

.ngdialog.ngdialog-theme-default .ngdialog-content h3 {
    margin-top: 0;
}

.wizard-steps {
    position: absolute;
    margin-top:-33px;
    width: 93%;
    text-align: right;
}

.wizard-steps span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    
    margin-top: -15px;
    margin-left:20px;

    text-align: center;

    background-color: #cccccc;

    -webkit-border-radius:50% !important;;
    -moz-border-radius:50% !important;;
    border-radius:50% !important;
}

.wizard-steps span.active {
    color: #fff;
    background-color: #00a7d0;
}

.wizard-steps span:first-child {
    margin-left: 0;
}

.content-header {
    position: fixed !important;
    width: 80%;
    top: 71px;

    box-sizing: border-box;
    z-index:123;
    background-color:#fff;
}

.page-title {
    margin-top:50px !important;
}

#wizard-state {
    font-size:.9em;
}

#wizard-state {
    text-align: center;

    margin-left: 30%;

    position:relative;
    top:20px;

    height: 2px;
}

#wizard-state a {
    position: relative;
    display:inline-block;

    border: 1px solid;
    border-radius: 20px !important;

    padding:5px 10px;
    margin-left:.5em;
    top:-15px;
}

#wizard-state a:first-child {
    margin-left:0;
    float:left;
}

#wizard-state a:last-child {
    float:right;
}

#wizard-state a::before {
    content: attr(data-step);

    border-radius:50%;

    display: inline-block;
    padding: 0px 6px;

    font-size:.9em;

    position: relative;
    top: -1px;
    left: -3px;

    color: #046136;
    background-color: #fff;
}

#wizard-state {
    background-color: #B1BED7;
}

#wizard-state a {
    border-color: #B1BED7;

    color:rgba(0,0,0,.8);
    background-color: #fff;
}

#wizard-state a.current {
    color: rgba(255,255,255,.8);
    background-color: #00a65a;
    border-color: rgb(231, 236, 242);
}

#wizard-state a::before {
    color:white;
    background-color: #B1BED7;
}

#wizard-state a.current::before {
    color: #046136;
    background-color: #fff;
}

#wizard-state a.valid::before {
    background-color: #00a65a;
}

.wizard-panel {
    position:relative;
    margin-top: 90px;
}

#maps-container {
    padding:20px;
    background-color:#3C8DBC;
}

#filters-container {

}

#filters-list {
    margin-top: 42px;
    overflow: hidden;

    background-color:#364150;
    color: rgb(180, 188, 200);
}

#filters-list input.filter-checkbox {
    position: absolute;
    left: -111px;
    visibility: hidden;
}

#filters-list label {
    display:inline-block;
    padding: 7px 12px;
    width:100%;
    margin:0;
    position: relative;
}

#filters-list input.filter-checkbox.filter-group + label {
    border-bottom: 1px solid #3d4957;
}

#filters-list input.filter-checkbox.filter-group:focus + label,
#filters-list input.filter-checkbox.filter-group + label:hover {
    background-color: rgba(0,0,0,.2);
}

#filters-list input.filter-checkbox + label span + i {
    position: absolute;
    right: 15px;
    margin-top: 2px;
}

#filters-list input.filter-checkbox.filter-group + label + div {
    height: 0;
    overflow: auto;
    transition: height .3s;
}

#filters-list .filter-question span {
    margin-left: 5px;
}

#filters-list input.filter-checkbox.filter-group:checked + label + div {
    display: block;
    height: initial;
    visibility: visible;
    background-color: #fff;
    color: #0b1014;
}

#filters-list input.filter-checkbox.filter-group:checked + label + div label {
    border-top: 1px solid rgba(0,0,0,.03);
}

#filters-list input.filter-checkbox.filter-group + label span {
    display: inline-block;
    margin-left: 5px;
}

#filters-list .filter-history,
#filters-list input.filter-checkbox:focus + label,
#filters-list input.filter-checkbox + label:hover,
#filters-list input.filter-checkbox:checked + label + div input.filter-checkbox:checked + label {
    color: rgb(255, 255, 255);
    background-color: rgb(54, 198, 211);
}

#filters-list .filter-history {
    border-top: 1px solid rgba(255,255,255,.3) !important;
}

#filters-list .filter-history:first-child {
    border-top: none;
}

#filters-list input.filter-checkbox:checked + label {
    background-color: rgba(0,0,0,.1);
}

#filters-list input.filter-checkbox.aCheck + label i:before {
    visibility: hidden;
}

#filters-list input.filter-checkbox.aCheck:checked + label i:before,
#filters-list input.filter-checkbox.aCheck + label:hover i:before {
    visibility: visible;
}
.filter-items input.filter-checkbox.aCheck:checked + label i:before {
}

#filters-list .filter-question > label {
    padding-left: 28px;
}

#filters-list .filter-question-end {
    padding-bottom: 20px;
}

#filters-list .filter-question-end,
#filters-list .filter-question-anwser label {
    padding-left: 30px;
    padding-right: 30px;
}

#filters-list .filter-question-end [ng-etf-list] {
    max-height: 310px;
    overflow: auto;
    margin-bottom: 20px;
}

.etf-column.name {
    padding-left:13px;
}

.etf-column.option {
	max-width:30px;
}

.etf-column.option,
.etf-column.price,
.etf-column.quantity {
	text-align: center;
}

.etf-column.price,
.etf-column.order {
    text-align:right;
}

table td {
    vertical-align: middle !important;
}

table td input.filter-checkbox.aCheck + label:before {
    display: none;
}

tfoot td {
    text-align:right;
    font-weight:bold;
    padding-left:8px !important;
    padding-right:8px !important;
    border-top: 1px solid rgba(122,122,122,0.1) !important;
}

#filters-list .filter-question-end input.aCheck[type=checkbox]:checked + label:before {
    left: -11px;
    top: -7px;
}


.wizard-panel tr input {
    width: 50px;
    text-align: right;
    padding: 0;
    border: 1px solid transparent !important;
}

.wizard-panel tr:hover input {
    border: 1px solid #ccc !important;
}

.wizard-panel tr.strike-line {
    text-decoration: line-through;
}

#slider-timeframe {
    display: table;
    position: absolute;
    right: 0;
    top: -10px;
}

.slider-col {
    display: table-cell;
    padding: 0 5px;
    line-height: 50px;
}

#slider-timeframe input {
    display: inline;
    width: initial;
    padding: 2px 7px;
}

#slider-timeframe rzslider {
    width: 200px;
    margin: auto;
}

#slider-timeframe label {
    font-weight: 600;
}

#slider-timeframe rzslider .rz-pointer {
    border-radius: 16px !important;
}

.explication-courbe {
    font-size: 14px;
    margin-top: 7px;
}

#choix-period-invest-past {
    width: initial;
    float: right;
}

.wizard-panel tr.strike-line input {
    background-color: transparent;
    cursor: default;
}

#legend-radios {
    text-align: -webkit-center;
}