#wizard-state {
    font-size:.9em;

    text-align: center;

    position:relative;
    margin: 0 10%;


    margin-bottom: 6em;
    background-color: #fff;

    text-transform: uppercase;
}

#wizard-state, #wizard-state:before {
    height: 4px;
}

#wizard-state:before {
    content: "";
    position: absolute;
    background-color: #364150;
    left: 0;
    width:0;
    transition: width .2s ease;
}

#wizard-state[data-current-step="1"]:before {
    width: 0%;
}

#wizard-state[data-current-step="2"]:before {
    width: 34%;
}

#wizard-state[data-current-step="3"]:before {
    width: 67%;
}

#wizard-state[data-current-step="4"]:before {
    width: 100%;
}

#wizard-state .step {
    position: relative;
    display:inline-block;

    border-radius: 50% !important;

    width: 18px;
    height: 18px;

    top:-6px;

    margin-left: 30%;

    border-radius:50%;

    font-size:.9em;

    color: #364150;
    background-color: #fff;
    transition: background-color .2s ease;
}

@media (max-width: 1205px) {
    #wizard-state .step {
        margin-left: 28%;
    }
}

#wizard-state .step:first-child {
    float:left;
    margin-left: 0;
}

#wizard-state .step:last-child {
    float:right;
    /*margin-top: -20px;*/
    margin-right:0;
}

#wizard-state .step::before {
    position: relative;
    top: 40px;
    font-size: 1.2em;
}

#wizard-state .step::after {
    content: attr(data-title);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    display: inline-block;

    position: absolute;
    top: 22px;
    left: -63px;
    width: 148px;
}

#wizard-state .step.valid,
#wizard-state .step.current {
    background-color: #364150;
}

#wizard-state .step.valid::before {
    background-color: transparent;
}

#sentence {
    text-align: center;
    font-size: 1.3em;
    padding: 0 4em;
}

.wizard-panel {
    position:relative;
    clear: both;
}

.wizard-button-goto {
    text-transform: uppercase;
    font-size:16px;
    font-weight: bold;
    line-height: 65px;
}

.wizard-button-goto.prev {
    color: rgba(54, 65, 80, 0.56);
}

.wizard-button-goto.next {
    color: #36c6d3;
}

.wizard-button-goto i {
    font-size: 5em;
    position: relative;
    top: 21px;
}

.etf-column.name {
    padding-left:13px;
}

.etf-column.option {
	max-width:30px;
}

.etf-column.option,
.etf-column.price,
.etf-column.quantity {
	text-align: center;
}

.etf-column.price,
.etf-column.order {
    text-align:right;
}

table td {
    vertical-align: middle !important;
}

table td input.filter-checkbox.aCheck + label:before {
    display: none;
}

tfoot td {
    text-align:right;
    font-weight:bold;
    padding-left:8px !important;
    padding-right:8px !important;
    border-top: 1px solid rgba(122,122,122,0.1) !important;
}

#filters-list .filter-question-end input.aCheck[type=checkbox]:checked + label:before {
    left: -11px;
    top: -7px;
}


.wizard-panel tr input {
    width: 50px;
    text-align: right;
    padding: 0;
    border: 1px solid transparent !important;
}

.wizard-panel tr:hover input {
    border: 1px solid #ccc !important;
}

.wizard-panel tr.strike-line {
    text-decoration: line-through;
}

.bg-black {
    color: #fff !important;
    background-color: #364150 !important;
}

#amount-box {
    max-width: 550px;
    padding: 2em;
    margin: 0 auto 3em;

    box-shadow: 0 0 5px 3px rgba(0,0,0,.5);
    font-size:1.3em;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

#amount-box .title, #amount-box p {
    margin-left: 6em;
    text-align: left;
}

#amount-box .title {
    margin-top: 1.5em;
}

#amount-box .amount {
    font-size: 3.2em;
    color: #36c6d3;
    margin-left: .51em;
    z-index: 2;
    position: relative;
}

#amount-box .amount.total {
}

#amount-box p {
    margin-top: 3em;
    margin-bottom: -.1em;
}

#amount-box p + div span {
    font-size: .59em;
    color: #fff;
}

#amount-box p + div input {
    background: transparent;
    border: none;
    width: 165px;
    border-radius: 0;
    border-bottom: 2px dashed #36c6d3;
    box-shadow: none;
    text-align: center;
    outline: none;
}

#amount-box .money {
    position: absolute;
    top: 2em;
    left: 2em;
    background-image: url(money.png);
    background-size: cover;
    width: 150px;
    height: 135px;
}

#amount-box .tickets {
    position: absolute;
    bottom: 2em;
    right: 3em;
    background-image: url(tickets.png);
    background-size: cover;
    width: 185px;
    height: 135px;
    z-index:1;
}

.explication-courbe {
    font-size: 14px;
    margin-top: 7px;
}

#choix-period-invest-past {
    width: initial;
    float: right;
}

.wizard-panel tr.strike-line input {
    background-color: transparent;
    cursor: default;
}

#tab-simulation {
    font-weight: 700;
    font-size: 16px;
}

table#fund_read_chart {
    display: none;
    border-radius: 4px !important;
    border: 2px solid #cccccc;
    border-collapse: collapse;
    background: #fff;
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 11px;
    overflow: hidden;
    height: auto;
    width: 165px;
    text-align: left;
    font-weight: 700;
    font-style: normal;
}

table#fund_read_chart tr.hi {
    background: #28939D;
}

table#fund_read_chart tr.med {
    background: #36c6d3;
}

table#fund_read_chart tr.lo {
    background: #FED3C5;
}

table#fund_read_chart td {
    padding: 1px 5px;
}

table#fund_read_chart tr.contr {
    background: #fff;
}

table#read_chart tr.contr td {
    color: #044677;
    border-top: 1px solid #cccccc;
    text-shadow: none;
    text-align: right;
    width: 135px;
}

#tab_1 .portlet-body .form-group {
    padding-top: 0px !important;
    position: absolute;
    right: 30px;
    z-index: 100;
}

.investir {
    font-size: 1.5em;
}

.lowercase {
    text-transform: lowercase;
}

[data-step="3"] .tab-content {
    padding: 0 !important;
}

[data-step="4"] .portlet {
    margin: auto;
    width: 500px;
    padding: 2em;
    font-size: 1.3em;
}

[data-step="4"] h2 {
    text-transform: uppercase;
}

[data-step="4"] .table-wrapper {
    margin: 0 2em;
    text-align: left;
}

[data-step="4"] .table-wrapper .table td, .table th {
    font-size: .94em;
}

[data-step="4"] .portlet.bg-black {
    margin-top: 2em;
    width: 450px;
}

[data-step="4"] .portlet.bg-black input {
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.6);
    color: #fff;
    background-color: transparent;
    display: inline-block;
    margin-bottom: 1em;
    padding-bottom: .3em;
    text-align: center;
    margin-bottom: 1em;
    outline: none;
    transition: border-bottom .5s;
}

[data-step="4"] .portlet.bg-black input:focus {
    border-bottom: 1px solid #fff;
}

[data-step="4"] .portlet.bg-black a {
    font-weight: normal;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 1em !important;
}

[data-step="4"] .portlet.bg-black input,
[data-step="4"] .portlet.bg-black a {
    width: 60%;
}

#tab_0 .portlet-body {
    position: relative;
}

[data-step="1"] .portlet .tools i {
    font-size: 22px;
    color: rgb(127, 123, 123);
}

[data-step="1"] #list-overview {
    display: none;
}
#tab_0 .portlet .portlet-title {
    min-height: 20px;
    margin-bottom: 3px;
}
#tab_0 .caption {
    width: 100%;
}

#slider-timeframe {
    right: 31px;
    position: relative;
    font-size: 14px;
    float: right;
    width: 25%;
    margin-top: 20px;
}

#slider-timeframe label {
    float: left;
}

#slider-timeframe rzslider {
   float: right;
    width: 75%;
    margin-top: 12px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 0px;