<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default"><i class="fa fa-cloud"></i></button>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->

<div ng-controller="PortefeuilleSyntheseController">
    <div class="row">
        <!-- Repartition des secteurs -->
        <div class="col-lg-4">
            <div id="portefeuille-valeur" class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-euro"></i>
                </div>
                <div class="details">
                    <div class="desc">Valeur du jour</div>
                    <div class="number"> {{format(client.portfolio.value)}} {{client.portfolio.currencySymb}}</div>
                </div>
            </div>

            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="flaticon-datastorage22"></i>
                </div>
                <div class="details">
                    <div class="desc">Gains totals</div>
                    <div id="gains-wallet" class="number">{{format(client.portfolio.gains)}}
                        {{client.portfolio.currencySymb}}
                    </div>
                </div>
            </div>

            <div id="portefeuille-benefice" class="dashboard-stat blue">
                <div class="visual">
                    <i class="flaticon-bars27"></i>
                </div>
                <div class="details">
                    <div class="desc">Estimation gains par année</div>
                    <div class="number"> {{format(client.portfolio.dividends)}} {{client.portfolio.currencySymb}}</div>
                </div>
            </div>
        </div>

        <!-- Maps de mes ETFs-->
        <div class="col-lg-8">
            <div id="sector" class="portlet">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-green">Mes investissements par secteurs</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="sectors-overview" data-height="234" data-lazy="true"
                         data-filter="{{client.portfolio.etfs}}"
                         data-show-in-legend="true" ng-etf-sectors-chart></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Repartition des secteurs -->
        <div class="col-lg-12">
            <div id="maps">
                <div class="portlet blueX">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <span class="caption-subject font-green">Répartition géographique de mes investissements</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="maps-repartition" height="300"
                             data-lazy="true"
                             data-filter="{{client.portfolio.etfs}}"
                             data-null-color="rgba(0,0,0,.02)"
                             ng-etf-maps></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row hide">
        <div class="col-lg-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-green">Titres du portefeuille</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="investment-list" data-lazy="true" data-filter="{{client.portfolio.etfs}}"
                         data-header-template="/protected/pages/dashboard/portefeuille/synthese/tpl/header.html"
                         data-row-template="/protected/pages/dashboard/portefeuille/synthese/tpl/row.html"
                         data-footer-template="/protected/pages/dashboard/portefeuille/synthese/tpl/footer.html"
                         ng-etf-list></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="portlet" ng-controller="PortefeuilleHistoriqueController">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-green">Historique du portefeuille</span>
                </div>
            </div>
            <div class="portlet-body text-right">
                <div class="form-group form-md-line-input">
                    <select class="form-control" id="choix-period-historique-synthese" name="" ng-model="periodeSelect" data-id-container="portefeuille-historique-stockchart" link-to-stcokchart>
                        <option ng-repeat="option in periodeData">{{option}}</option>
                    </select>
                </div>
                <div id="portefeuille-historique-stockchart"></div>
            </div>
        </div>
    </div>
</div>