[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-style: normal;
	font-size: 70px;
	top: 6px;
	margin-left: -5px;
	position: relative;
}

.dashboard-stat .visual > i.fa-euro {
	font-size: 80px;
	margin-left: -2px;
	position: relative;
	bottom: 2px;
}


table .compo-filter {
	padding : 2px 8px;
	border : 1px solid #DEDBDB;
	cursor : pointer;
	margin : 0 1px;
	border-radius : 4px;
}

table .selected {
	background-color : #DEDBDB;
}

#profits-investment  {
	height: 400px;
}

.small-box>.small-box-footer {
	bottom: 0;
	display: block;
	width: 100%;
}

#sector{
	position: relative;
	height: 427px;
}

#sector .info-box {
		-webkit-box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
		-moz-box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
		box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
		position: absolute;
		left: 202px;
		top: 141px;
		color: #333;
		display: none;
		z-index:900;
		max-width: 400px;
}

#sector .info-box .info-box-title{
	font-size: 16px;
	font-weight: bold;
}
#sector .info-box .info-box-icon {
	position:absolute;
	height:100%;
}
#sector .info-box .btn,
#sector .info-box .info-box-icon {
	transition:background-color 1s, color 1s;
}

#sector .info-box button {
	float: right;
	font-size: 14px;
	margin-bottom: 6px;
}

.etf-list-component .etf-column.value,
.etf-list-component .etf-column.gains  {
	text-align: right;
}

.etf-list-component .etf-column.number,
.etf-list-component .etf-column.quantity  {
	text-align: center;
}

.etf-list-component .etf-column.total,
.etf-list-component .etf-column.cash,
.etf-list-component .etf-column.total-gains {
	font-weight: 700;
}

.blue {
	background-color: #00aabe !important;
}

#maps .portlet .caption-subject {
	/*color: #fff;*/
}

#choix-period-historique-synthese {
	width: initial;
	float: right;
}

#sector .portlet-title {
	margin-bottom: 0;
}

.portlet-title .caption-subject{
	padding-left: 22px;
}

.portlet-body {
	font-size: 15px;
}

.infos-principales {
	text-align: center;
}
.infos-principales span {
	color: #32c5d2;
}

.infos-principales .number {
	font-size: 47px;
	margin-top: -13px;
}


.infos-supplements {
	text-align: center;
	margin-top: 33px;
}

.infos-supplements table{
	font-size: 17px;
	margin: auto;
}

.infos-supplements td {
	padding-right: 40px;
	text-align: left;
}


.infos-supplements table .type {
	color: #38cf63;
}

.infos-supplements table .percent {
	color: #32c5d2;
	padding-right: 0;
}

.infos-supplements table .percent .fa{
	color: #38cf63;
}

#graph-synthese .portlet{
	background-color: #36c6d3 !important;
	height: 386px;
}

#portfolio .portlet {
	margin-bottom: 0px;
	height: 328px;
}

#portfolio .portlet-title {
	min-height: 30px;
	margin-bottom: 0;
}

.infos-principales .result-up {
	color:  #38cf63;
}

.infos-principales .result-down {
	color:  red;
}

.infos-sythese {
	padding-top: 42px;
}

.portlet-title{
	color: #36c6d3;
	text-align: center;
	font-size: 23px;
}

#portfolio .portlet-title .tools, #sector .portlet-title .tools, #table-synthese .portlet-title .tools,
#list-etfs .portlet-title .tools {
	padding-top: 4px;
}

#portfolio .portlet-title .left, #sector .portlet-title .left, #table-synthese .portlet-title .left,
#list-etfs .portlet-title .left {
	float: left;
}

#portfolio .portlet-title .left a i, #sector .portlet-title .left a i, #table-synthese .portlet-title .left a i,
#list-etfs .portlet-title .left a i {
	color: rgb(127, 123, 123);
}


#portfolio .portlet-title .right, #sector .portlet-title .right, #table-synthese .portlet-title .right,
#list-etfs .portlet-title .right {
	float: right;
}

#portfolio .portlet-title i, #sector .portlet-title i, #table-synthese .portlet-title i,
#list-etfs .portlet-title i {
	font-size: 27px;
}

#portfolio	.portlet-title .text, #sector .portlet-title .text, #table-synthese .portlet-title .text,
#list-etfs .portlet-title .text {
	padding-top: 16px;
}

#table-synthese, #list-etfs {
	display: none;
}

#table-synthese tr th, #list-etfs tr th{
	color: rgb(127, 123, 123);
	font-size: 16px;
	font-weight: 500;
}

#table-synthese tr td, #list-etfs tr td{
	font-size: 13px;
}

#table-synthese .date{
	color: #38cf63
}

#table-synthese .valeur {
	color: #38cf63;
	text-align: right
}

#btn-investissement{
	font-size: 26px;
	position: relative;
	top: 149px;
	text-align: center;
	color: rgb(255, 255, 255);
}

#btn-investissement i {
	padding-right: 10px;
}

#btn-investissement a {
	color: rgb(255, 255, 255);
}