<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/">Direct ETF</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/portefeuille/synthese">Portefeuille</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/portefeuille/comparer">Comparer</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"
                    dropdown-menu-hover data-delay="1000" data-close-others="true"> Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="javascript:print()">
                        <i class="icon-printer"></i> Imprimer </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-share-alt"></i> Exporter </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<h3 class="page-title">Comparer mon portefeuille à d'autres stratégies</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="PortefeuilleComparerController">
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-green bold uppercase"></span>
                        <!--combobox-->
                        <div class="display-table">
                            <div class="display-cell">
                                <label class="control-label">Comparaison avec</label>
                            </div>
                            <div class="display-cell">
                                <div class="comparaison-inputs">
                                    <select class="control-input form-control" name="repeatSelect" id="comparaison" ng-model="data.repeatSelect">
                                        <option ng-repeat="option in data.availableOptions">{{option.name}}</option>
                                    </select>

                                    <input id="ref_fis_checkbox" type="checkbox" disabled>
                                    <label for="ref_fis_checkbox" class="fa fa-check">Fiscalité</label>
                                </div>

                                <ul id="text-comparaiso" class="chats">
                                    <li class="in">
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <span class="datetime">{{data.repeatSelect}}</span>
                                            <span class="body">{{text(data.repeatSelect)}}</span>
                                            <span class="body" id="text-fiscalite">{{taxText(data.repeatSelect)}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <!--<select id="choix-period" class="control-input form-control" name="repeatSelect" ng-model="data.repeatSelect">-->
                        <!--<option ng-repeat="option in data.availableOptions">{{option.name}}</option>-->
                    <!--</select>-->
                    <div class="form-group form-md-line-input">
                        <select class="form-control" id="choix-period-comparaison" name="" ng-model="periodeSelect" data-id-container="portefeuille-comparaison-stockchart" link-to-stcokchart>
                            <option ng-repeat="option in periodeData">{{option}}</option>
                        </select>
                    </div>
                    <div id="portefeuille-comparaison-stockchart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->