
table .compo-filter {
	padding : 2px 8px;
	border : 1px solid #DEDBDB;
	cursor : pointer;
	margin : 0 1px;
	border-radius : 4px;
}

table .selected {
	background-color : #DEDBDB;
}

#profits-investment  {
	height: 400px;
}

.small-box>.small-box-footer {
	bottom: 0;
	display: block;
	width: 100%;
}

#sector{
	position: relative;
}

#sector .info-box {
		-webkit-box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
		-moz-box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
		box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
		position: absolute;
		left: 202px;
		top: 141px;
		color: #333;
		display: none;
		z-index:900;
		max-width: 400px;
}

#sector .info-box .info-box-title{
	font-size: 16px;
	font-weight: bold;
}
#sector .info-box .info-box-icon {
	position:absolute;
	height:100%;
}
#sector .info-box .btn,
#sector .info-box .info-box-icon {
	transition:background-color 1s, color 1s;
}

#sector .info-box button {
	float: right;
	font-size: 14px;
	margin-bottom: 6px;
}


#text-comparaison{
	position: fixed;
	max-width: 60px;
}

#text-comparaison p {
	padding: 8px;
	margin: 0;
	font-size: 13px;
}

.display-table {
	display: table;
}

.display-cell {
	display: table-cell;
	vertical-align: top;
}

.display-cell label {
	font-size: .8em;
	display: inline-block;
	margin-top: 7px;
}

.control-label.form-control {
	border-color: transparent !important;
	padding-left: 0px;
	padding-right: 0px;
	float: left;
}

.comparaison-inputs {
	width: 210px;
	float: left;
	margin-left: 15px !important;
}

.comparaison-inputs label span {
	margin-top: 5px;
}

#text-comparaiso {
	margin-left: 190px;

}

@media screen and (max-width:768px) {
	.comparaison-inputs {
		float: none;
		display: block;
	}
	#text-comparaiso {
		margin: 0;
	}
	#text-comparaiso li.in .message {
		margin-left: 15px;
	}
}

.chats li.in .message {
	border-left-color: rgb(27, 126, 90) !important;
}

.chats li.in .message .arrow {
	border-right-color: rgb(27, 126, 90) !important;
}

#text-fiscalite {
	display: none;
}