<div id="page-essai" ng-controller="EssaiController">
    <header>
        <div class="bar animated bounceInDown">
            <div class="percentage" style="width:{{bar.value}}%"></div>
        </div>

        <div class="header-content animated bounceInUp">
            <div class="header-content-inner">
                <div class="box animated">
                    <i class="fa fa-comment-o"></i>
                    <h1>COMMENÇONS PAR PARLER UN PEU DE VOUS</h1>

                    <p>Afin de générer un portefeuille adapté à votre profil,<br>
                        nous avons besoin de quelques informations</p>
                    <hr class="middle">

                    <div class="steps">
                        <div class="step">
                            <h2>Savez-vous déjà où placer votre argent ?</h2>

                            <div class="form-group">
                                <div class="radio-list">
                                    <input type="radio" name="optionsRadios" value="option1" id="choice1">
                                    <label for="choice1">Dans une entreprise</label>
                                    <div class="radio-choices">
                                        <input type="radio" name="optionsRadios1" value="option1" id="choice1a">
                                        <label ng-click="next()" for="choice1a">en fonction d’une valeur (écologie,
                                            profit, éthique)</label>

                                        <input type="radio" name="optionsRadios1" value="option1" id="choice1b">
                                        <label ng-click="next()" for="choice1b">Par pays</label>

                                        <input type="radio" name="optionsRadios1" value="option1" id="choice1c">
                                        <label ng-click="next()" for="choice1c">Par secteur</label>

                                        <input type="radio" name="optionsRadios1" value="option1" id="choice1d">
                                        <label ng-click="next()" for="choice1d">en fonction des sujets d’actualité du
                                            moment (ex Grèce, Allemagne, Chine)</label>

                                    </div>

                                    <input type="radio" name="optionsRadios" value="option 7" id="choice2">
                                    <label ng-click="next()" for="choice2">Dans un sujet d'actualité du moment</label>

                                    <input type="radio" name="optionsRadios" value="option1" id="choice1e">
                                    <label ng-click="next()" for="choice1e">Par région</label>

                                    <input type="radio" name="optionsRadios" value="option 7" id="choice3f">
                                    <label ng-click="next()" for="choice3f">Je ne sais pas encore dans quoi
                                        investir</label>
                                </div>
                            </div>
                        </div>

                        <div class="step">
                            <h2>Quelle est la raison principale de vos investissements ?</h2>

                            <div class="form-group">
                                <div class="radio-list">
                                    <input type="radio" name="optionsRadios" value="option1" id="choice3"><label
                                        ng-click="next()" for="choice3"> Achat important
                                </label>
                                    <input type="radio" name="optionsRadios" value="option2" id="choice4"><label
                                        ng-click="next()" for="choice4"> Projet personnel </label>
                                    <input type="radio" name="optionsRadios" value="option3" id="choice5"><label
                                        ng-click="next()" for="choice5"> Don </label>
                                    <input type="radio" name="optionsRadios" value="option3" id="choice6"><label
                                        ng-click="next()" for="choice6"> Retraite</label>
                                    <input type="radio" name="optionsRadios" value="option3" id="choice7"><label
                                        ng-click="next()" for="choice7"> Autre (précisez)</label>
                                </div>
                            </div>
                        </div>

                        <div class="step">
                            <h2>Quel est votre revenu annuel ?</h2>

                            <div class="form-group">
                                <div class="radio-list">
                                    <input type="radio" name="optionsRadios" value="option1" id="choice8"><label
                                        ng-click="next()" for="choice8"> Moins de
                                    25,000€</label>
                                    <input type="radio" name="optionsRadios" value="option2" id="choice9"><label
                                        ng-click="next()" for="choice9"> 25,000 - 50,000€</label>
                                    <input type="radio" name="optionsRadios" value="option3" id="choice10"><label
                                        ng-click="next()" for="choice10"> 50,000 - 100,000€</label>
                                    <input type="radio" name="optionsRadios" value="option4" id="choice11"><label
                                        ng-click="next()" for="choice11"> 100,000 - 250,000€</label>
                                    <input type="radio" name="optionsRadios" value="option5" id="choice12"><label
                                        ng-click="next()" for="choice12"> Plus de 250,000€</label>
                                </div>
                            </div>
                        </div>

                        <div class="step">
                            <h2>Quelle est votre capacité d'épargne mensuelle ?</h2>

                            <div class="form-group">
                                <div class="radio-list">
                                    <input type="radio" name="optionsRadios" value="option1" id="choice13"><label
                                        ng-click="next()" for="choice13"> Moins
                                    de 100€ </label>
                                    <input type="radio" name="optionsRadios" value="option2" id="choice14"><label
                                        ng-click="next()" for="choice14"> De 100 à 500€</label>
                                    <input type="radio" name="optionsRadios" value="option2" id="choice15"><label
                                        ng-click="next()" for="choice15"> De 500 à 1000€</label>
                                    <input type="radio" name="optionsRadios" value="option2" id="choice16"><label
                                        ng-click="next()" for="choice16"> Plus de 1000€</label>
                                </div>
                            </div>
                        </div>

                        <div class="step">
                            <h2> Quel âge avez-vous ? </h2>

                            <div class="form-group">
                                <div class="radio-list">
                                    <input type="radio" name="optionsRadios" value="option1" id="choice17"><label
                                        ng-click="next()" for="choice17"> Moins de 25
                                    ans</label>
                                    <input type="radio" name="optionsRadios" value="option2" id="choice18"><label
                                        ng-click="next()" for="choice18"> 25-30 ans</label>
                                    <input type="radio" name="optionsRadios" value="option3" id="choice19"><label
                                        ng-click="next()" for="choice19"> 30-35
                                    ans</label>
                                    <input type="radio" name="optionsRadios" value="option4" id="choice20"><label
                                        ng-click="next()" for="choice20"> 35-40
                                    ans</label>
                                    <input type="radio" name="optionsRadios" value="option4" id="choice21"><label
                                        ng-click="next()" for="choice21"> 40-45
                                    ans</label>
                                    <input type="radio" name="optionsRadios" value="option4" id="choice22"><label
                                        ng-click="next()" for="choice22"> Plus de 45 ans</label>
                                </div>
                            </div>
                        </div>

                        <div class="step">
                            <h2>Quel niveau de risque êtes-vous prêt à prendre ? </h2>

                            <div class="form-group">
                                <div class="radio-list">
                                    <input type="radio" name="optionsRadios" value="option1" id="choice23"><label
                                        ng-click="next()" for="choice23">Très faible</label>
                                    <input type="radio" name="optionsRadios" value="option2" id="choice24"><label
                                        ng-click="next()" for="choice24">Faible</label>
                                    <input type="radio" name="optionsRadios" value="option3" id="choice25"><label
                                        ng-click="next()" for="choice25">Modéré</label>
                                    <input type="radio" name="optionsRadios" value="option4" id="choice26"><label
                                        ng-click="next()" for="choice26">Élevé</label>
                                    <input type="radio" name="optionsRadios" value="option4" id="choice27"><label
                                        ng-click="next()" for="choice27">Très élevé</label>
                                </div>
                            </div>
                        </div>

                        <div class="step">
                            <i class="fa fa-child"></i>
                            <!--<h1>Voici notre suggestion de portefeuille</h1>-->

                            <h2>Découvrez notre suggestion de portefeuille</h2>
                        </div>

                        <a class="prev disabled" href="javascript:void(0)" ng-click="prev()"><i
                                class="fa fa-4x fa-angle-left"></i></a>
                        <!--<a class="next" href="javascript:void(0)" ng-click="next()"><i class="fa fa-4x fa-angle-right"></i></a>-->
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

<div ng-include="'footer.html'"></div>