<!-- google analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-72585069-1', 'auto');
    ga('send', 'pageview');
</script>

<div id="page-essai" ng-controller="EssaiController">
    <header>
        <div class="bar animated bounceInDown">
            <div class="percentage" style="width:{{bar.value}}%"></div>
        </div>

        <div class="header-content animated bounceInUp">
            <div class="header-content-inner">
                <div class="box animated">

                    <div class="steps">

                        <div class="step">
                            <i class="fa fa-comment-o"></i>
                            <h1>COMMENÇONS PAR PARLER UN PEU DE VOUS</h1>

                            <p>Afin de générer une stratégie de placement adaptée à vos idées,<br>
                                donnez nous quelques informations sur vous et vos projets.</p>
                            <hr class="middle">

                            <h2>Quelle est la raison principale de vos investissements ?</h2>

                            <div class="form-group">
                                <div class="radio-list">
                                    <input type="radio" name="optionsRadios" value="option1" id="choice1" ng-model="model.goal"><label
                                        ng-click="next()" for="choice1"> Créer une nouvelle source de revenus</label>
                                    <input type="radio" name="optionsRadios" value="option2" id="choice2" ng-model="model.goal"><label
                                        ng-click="next()" for="choice2"> Constituer un capital </label>
                                    <input type="radio" name="optionsRadios" value="option3" id="choice3" ng-model="model.goal"><label
                                        ng-click="next()" for="choice3"> Réduire mes impôts </label>
                                    <input type="radio" name="optionsRadios" value="option4" id="choice4" ng-model="model.goal"><label
                                        ng-click="next()" for="choice4"> Autre / Je n'ai pas encore décidé</label>

                                </div>
                            </div>

                        </div>

                        <div class="step">
                            <i class="fa fa-comment-o"></i>
                            <h1>COMMENÇONS PAR PARLER UN PEU DE VOUS</h1>

                            <p>Afin de générer une stratégie de placement adaptée à vos idées,<br>
                                donnez nous quelques informations sur vous et vos projets.</p>
                            <hr class="middle">

                            <h2>Quelle est votre capacité d'épargne mensuelle ?</h2>

                            <div id="mensual-amount">
                                <div class="slider">
                                    <rzslider rz-slider-model="model.amountMonthlySlider"
                                              rz-slider-options="model.sliderAmountMonthly.options"></rzslider>
                                </div>
                                <a class="btn btn-primary btn-xl" ng-click="next()">suivant</a>
                            </div>
                        </div>



                        <div class="step">
                            <i class="fa fa-comment-o"></i>
                            <h1>COMMENÇONS PAR PARLER UN PEU DE VOUS</h1>

                            <p>Afin de générer une stratégie de placement adaptée à vos idées,<br>
                                donnez nous quelques informations sur vous et vos projets.</p>
                            <hr class="middle">

                            <h2>Quel est votre revenu annuel approximatif?</h2>

                            <div class="form-group">
                                <div class="radio-list">
                                    <input type="radio" name="optionsRadios" value="option1" id="choice9" ng-model="model.revenueYearly"><label
                                        ng-click="next()" for="choice9"> Moins de
                                    20,000€</label>
                                    <input type="radio" name="optionsRadios" value="option2" id="choice10" ng-model="model.revenueYearly"><label
                                        ng-click="next()" for="choice10"> 20,000 -  100,000€</label>
                                    <input type="radio" name="optionsRadios" value="option4" id="choice11" ng-model="model.revenueYearly"><label
                                        ng-click="next()" for="choice11"> 100,000 - 500,000€</label>
                                    <input type="radio" name="optionsRadios" value="option5" id="choice12" ng-model="model.revenueYearly"><label
                                        ng-click="next()" for="choice12"> Plus de 500,000€</label>
                                </div>
                            </div>
                        </div>


                        <div class="step">
                            <i class="fa fa-comment-o"></i>
                            <h1>COMMENÇONS PAR PARLER UN PEU DE VOUS</h1>

                            <p>Afin de générer une stratégie de placement adaptée à vos idées,<br>
                                donnez nous quelques informations sur vous et vos projets.</p>
                            <hr class="middle">

                            <h2> Quel âge avez-vous ? </h2>

                            <div class="form-group">
                                <div class="radio-list">
                                    <input type="radio" name="optionsRadios" value="option1" id="choice17" ng-model="model.age"><label
                                        ng-click="next()" for="choice17"> Moins de 25
                                    ans</label>
                                    <input type="radio" name="optionsRadios" value="option2" id="choice18" ng-model="model.age"><label
                                        ng-click="next()" for="choice18"> 25-30 ans</label>
                                    <input type="radio" name="optionsRadios" value="option3" id="choice19" ng-model="model.age"><label
                                        ng-click="next()" for="choice19"> 30-35
                                    ans</label>
                                    <input type="radio" name="optionsRadios" value="option4" id="choice20" ng-model="model.age"><label
                                        ng-click="next()" for="choice20"> 35-40
                                    ans</label>
                                    <input type="radio" name="optionsRadios" value="option5" id="choice21" ng-model="model.age"><label
                                        ng-click="next()" for="choice21"> 40-45
                                    ans</label>
                                    <input type="radio" name="optionsRadios" value="option6" id="choice22" ng-model="model.age"><label
                                        ng-click="next()" for="choice22"> Plus de 45 ans</label>
                                </div>
                            </div>
                        </div>

                        <div class="step">
                            <i class="fa fa-comment-o"></i>
                            <h1>COMMENÇONS PAR PARLER UN PEU DE VOUS</h1>

                            <p>Afin de générer une stratégie de placement adaptée à vos idées,<br>
                                donnez nous quelques informations sur vous et vos projets.</p>
                            <hr class="middle">

                            <h2> A combien estimez-vous votre versement initial ? </h2>

                            <div id="total-amount" class="col-lg-6">
                                <div class="slider">
                                    <rzslider rz-slider-model="model.amountInitialSlider"
                                              rz-slider-options="model.sliderAmount.options"></rzslider>
                                </div>
                                <a class="btn btn-primary btn-xl" ng-click="next()">suivant</a>
                            </div>
                        </div>

                        <div class="step">
                            <i class="fa fa-comment-o"></i>
                            <h1>COMMENÇONS PAR PARLER UN PEU DE VOUS</h1>

                            <p>Afin de générer une stratégie de placement adaptée à vos idées,<br>
                                donnez nous quelques informations sur vous et vos projets.</p>
                            <hr class="middle">

                            <h2>Quel niveau de risque êtes-vous prêt à prendre ? </h2>

                            <div class="form-group">
                                <div class="radio-list">
                                    <input type="radio" name="optionsRadios" value="25" id="choice23" ng-model="model.riskLevel" ng-change="synthese()"><label
                                        ng-click="next()" for="choice23">Aucun. Je ne veux aucun risaue de perte en capital.</label>
                                    <input type="radio" name="optionsRadios" value="45" id="choice24" ng-model="model.riskLevel" ng-change="synthese()"><label
                                        ng-click="next()" for="choice24">Faible, je suis prêt à accepter un revenu réduit pour protéger mon capital.</label>
                                    <input type="radio" name="optionsRadios" value="60" id="choice25" ng-model="model.riskLevel" ng-change="synthese()"><label
                                        ng-click="next()" for="choice25">Modéré. je suis prêt à accepter un certain risque pour augmenter les gains.</label>
                                    <input type="radio" name="optionsRadios" value="90" id="choice27" ng-model="model.riskLevel" ng-change="synthese()"><label
                                        ng-click="next()" for="choice27">Elevé. Je suis prêt à accepter une pertie importante dans l'espoir de gains importants.</label>
                                </div>
                            </div>
                        </div>



                        <div class="step" id="synthese">
                            <i class="fa fa-child"></i>

                            <h2>Découvrez notre suggestion de portefeuille</h2>

                            <!-- Historique du portefeuille -->
                            <div class="portlet">
                                <div class="portlet-title">
                                    <div id="resume" class="caption caption-md">
                                        <span>Si vous investissez
                                            <div style="display: inline">
                                                <input type="number" placeholder="100" title="ezaeazezae"
                                                       class="form-control" ng-model="model.amountMonthlyInput"
                                                       min="{{model.amountMonthlyMin}}" max="{{model.amountMonthlyMax}}"
                                                       step="100" required>
                                            </div>
                                            euros par mois avec un patrimoine initial de
                                            <div style="display: inline">
                                                <input type="number" placeholder="1000" class="form-control" ng-model="model.amountInitialInput" min="{{model.amountInitialMin}}" max="{{model.amountInitialMax}}" step="500" required>
                                            </div>
                                            euros pendant les
                                            <div style="display: inline">
                                                <input type="number" placeholder="3" class="form-control" ng-model="model.timeframe"  min="{{model.timeframeMin}}" max="{{model.timeframeMax}}" required>
                                            </div>
                                            prochaines années, vous obtiendrez .....</span>
                                    </div>
                                </div>
                                <div class="portlet-body text-right">
                                    <table id="read_chart" style="display: table;">
                                        <tbody>
                                        <tr class="hi" style="display: table-row;">
                                            <td>Favorable</td>
                                            <td>13% chance</td>
                                        </tr>

                                        <tr class="med" style="display: table-row;">
                                            <td>Attendu</td>
                                            <td>68% chance</td>
                                        </tr>

                                        <tr class="lo" style="display: table-row;">
                                            <td>Défavorable</td>
                                            <td>13% chance</td>
                                        </tr>

                                        <tr class="contr" style="display: table-row;">
                                            <td>&mdash;</td>
                                            <td>Investissement</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div id="questionaire-future-stockchart" style="height: 350px"></div>
                                </div>
                            </div>

                            <p>Attention, votre choix d'un niveau de risque élevé peut contredire votre objectif de
                                créer un revenu régulier. Souhaitez-vous revenir en arrière ?
                           </p><a class="btn btn-primary btn-xl" ng-click="prev()">revoir</a>
                            <a href="#/signin?riskLevel={{model.riskLevel}}" class="btn btn-primary btn-xl">créer un compte</a>
                        </div>

                        <a class="prev disabled" href="javascript:void(0)" ng-click="prev()" ng-hide="step == limit"><i
                                class="fa fa-4x fa-angle-left"></i></a>
                        <!--<a class="next" href="javascript:void(0)" ng-click="next()"><i class="fa fa-4x fa-angle-right"></i></a>-->
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>