#page-essai .bar {
    height: 0.7em;
    width: 80%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.71);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0);
    margin: -4em auto 0 10%;
    position: absolute;
}

#page-essai .bar .percentage {
    position: relative;
    font-size: 0.7em;
    background: #36c6d3;
    height: 1em;
    height: 1em;
    border-radius: 10px;
    transition: width .8s;
}

#page-essai .box {
    background: rgba(255, 255, 255, 0.92);
    padding: 4em 2em;
    border-radius: 5px;
    margin-bottom: 1em;
}

#page-essai .steps {
    position: relative;
    height: 200px;
    overflow: hidden;
    transition: height .8s;
}

#page-essai .steps .step {
    position:absolute;
    top: 0;
}

#page-essai .steps > a {
    position: absolute;
    margin-top: 30%;
}

#page-essai .steps > a i {
    color: #ccc;
    transition: color .8s;
}

#page-essai .steps > a:hover i,
#page-essai .steps > a:focus i {
    color: #47a2aa;
}

#page-essai .steps > a.disabled {
    cursor: default;
}

#page-essai .steps > a.disabled i {
    color: rgba(204, 204, 204, 0.17);
}

#page-essai .steps a.prev {
    left: 3em;
}

#page-essai .steps a.next {
    right: 3em;
}

@media (min-width: 768px) {
    #page-essai header .header-content .header-content-inner {
        max-width: 700px;
    }
}

#page-essai header .header-content .header-content-inner h1 {
    font-size: 1.6em;
    font-weight: 800;
}

#page-essai header .header-content .header-content-inner p {
    font-size: 1.35em;
}

#page-essai header .header-content .header-content-inner hr {
    width: 60px;
    border-color: #000;
}

#page-essai h2 {
    font-size: 1.6em;
    font-weight: 800;
}

#page-essai .radio-list {
    /* width: 300px; */
    padding: 0 92px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#page-essai .box input[type=radio], .box input[type=checkbox] {
    position: absolute;
    left: -111px;
    visibility: hidden;
}

#page-essai .box label {
    display: block;
    font-size: 17px;
    font-weight: 500;
    border-radius:30px
}

#page-essai .box .radio-choices label {
    font-size: 16px;
    color: #3a969c;
    font-weight: 500;
}

#page-essai div.multiplechoices label {
    font-size: 17px;
}

#page-essai .box input[type=radio] + label + div, .box input[type=checkbox] + label + div {
    display: none;
}

#page-essai .box input[type=radio]:checked + label + div, .box input[type=checkbox]:checked + label + div {
    display: block;
}

#page-essai .box i {
    margin-bottom: .5em;
    color: #36c6d3;
    font-size: 3em;
}

@media (max-width:767px) {
    #page-essai .box i {
        margin-bottom: .1em;
        color: #36c6d3;
        font-size: 1.5em;
    }

    #page-essai header .header-content .header-content-inner hr {
        margin:-.5em auto;
    }

    #page-essai .steps {
        overflow-y:auto;
    }

    #page-essai .radio-list {
        width: 100%;
        margin-top:1em;
        padding:0;
    }
}

#page-essai .box label:hover,
#page-essai .box input[type=radio]:checked + label, .box input[type=checkbox]:checked + label {
    background-color: #36c6d3;
    color: rgba(255,255,255,.9);
}

#page-essai .box input[type=radio]:checked + label, .box input[type=checkbox]:checked + label {
    background-color: rgb(19, 135, 141);
}

#resume input {
    display: inline-block;
    width: 90px !important;
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px dotted #8C8B8B;
    text-align: center;
}

#resume span {
    font-size: 18px;
}

rzslider .rz-bar.rz-selection,
rzslider .rz-pointer{
    background-color: #36c6d3;
}

rzslider .rz-pointer.rz-active:after {
    background-color:  #308B8E !important;
}

#mensual-amount, #total-amount {
    width: 40%;
    position: relative;
    left: 203px;
    margin-top: 23px;
}

.step a {
    margin-top: 15px;
}

/*input[type=number]::-webkit-inner-spin-button,*/
 /*input[type=number]::-webkit-outer-spin-button {*/
     /*-webkit-appearance: none;*/
     /*margin: 0;*/
 /*}*/

input[type="number"]:valid + span {
    display: none;
}

input[type="number"]:invalid + span {
    display: inline;
    background-color: rgba(226, 226, 226, 0.6);
    position: relative;
    padding: 2px 7px 3px;
    border-radius: 5px;
    color: rgb(220, 20, 60);
    font-size: 15px !important;
}

table#read_chart {
    display: inline;
    border-radius: 4px !important;
    border: 1px solid #cccccc;
    border-collapse: collapse;
    background: #fff;
    position: absolute;
    left: 33px;
    top: 234px;
    font-size: 11px;
    overflow: hidden;
    height: auto;
    width: 165px;
    text-align: left;
    font-weight: 700;
    font-style: normal;
}

table#read_chart tr.hi {
    background: #579969;
}

table#read_chart tr.med {
    background: #5FB778;
}

table#read_chart tr.lo {
    background: #FED3C5;
}

table#read_chart td {
    padding: 1px 5px;
}

table#read_chart tr.contr {
    background: #fff;
}

table#read_chart tr.contr td {
    border-top: 1px solid #cccccc;
    text-shadow: none;
    width: 135px;
}
