<div ng-controller="ComparaisonController">
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-green bold uppercase"></span>
                        <!--combobox-->
                        <div class="display-table">
                            <div class="display-cell">
                                <label class="control-label">Comparaison avec</label>
                            </div>
                            <div class="display-cell">
                                <div class="comparaison-inputs">
                                    <select class="control-input form-control" name="repeatSelect" id="comparaison"
                                            ng-model="data.repeatSelect" ng-disabled="!client.alreadyInvest">
                                        <option ng-repeat="option in data.availableOptions">{{option.name}}</option>
                                    </select>

                                    <input id="ref_fis_checkbox" type="checkbox" class="aCheck" disabled>
                                    <label for="ref_fis_checkbox" class="fa fa-check">Fiscalité</label>
                                </div>

                                <ul id="text-comparaiso" class="chats">
                                    <li class="in">
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <span class="datetime">{{data.repeatSelect}}</span>
                                            <span class="body">{{text(data.repeatSelect)}}</span>
                                            <span class="body" id="text-fiscalite">{{taxText(data.repeatSelect)}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <!--<select id="choix-period" class="control-input form-control" name="repeatSelect" ng-model="data.repeatSelect">-->
                        <!--<option ng-repeat="option in data.availableOptions">{{option.name}}</option>-->
                    <!--</select>-->
                    <div class="form-group form-md-line-input">
                        <select class="form-control" id="choix-period-comparaison" name="" ng-model="periodeSelect" data-id-container="portefeuille-comparaison-stockchart" link-to-stcokchart>
                            <option ng-repeat="option in periodeData">{{option}}</option>
                        </select>
                    </div>
                    <div id="portefeuille-comparaison-stockchart"></div>
                    <div class="text-center">
                        <a class="wizard-button-goto" ng-click="share()">Partager cette comparaison</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->