#notification {
	padding: 1em;
}

#notification span {
	margin-bottom: 1em;
	display: inline-block;
}

#change-client-box {
	position: absolute;
	width: 30%;
	top: 408px;
	z-index: 555;
	left: 530px;
	-webkit-box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
	-moz-box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
	box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
	display: none;
}


#change-client-box li{
	float: none;
	font-size: 18px;
}

#change-client-box li a:active,
#change-client-box li a:focus
{
	background-color: #00a65a;
	color: white;
	border-radius: 3px;
}

#change-client-box .box-title {
	font-size: 21px;
	font-weight: 700;
	color: rgb(15, 84, 15);
}

#change-client-box .box-footer {
	border-top: none;
}

#change-client-box button {
	border-radius: 3px;
}
