<header class="header-content">
    <div class="login animated bounceInUp">
        <div class="content" ng-controller="LoginController">
            <h1 class="form-title">Se connecter</h1>
            <div ng-show="alert.message.length > 0" class="alert">
                <button class="close" data-close="alert"></button>
                <span> {{alert.message}} </span>
            </div>

            <!-- BEGIN LOGIN FORM -->
            <form class="login-form" method="post">
                <div ng-show="account.status == 0">
                    <div class="form-group">
                        <div class="input-icon">
                            <input class="form-control placeholder-no-fix" ng-model="account.user.username" type="text"
                                   autocomplete="off" placeholder="Adresse email" name="email" required></div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon">
                            <input class="form-control placeholder-no-fix" ng-model="account.user.password"
                                   type="password"
                                   autocomplete="off" placeholder="Mot de passe" name="password" required></div>
                    </div>
                    <div class="form-actions">
                        <button type="button" ng-click="account.connect()" class="btn btn-primary"> Se connecter
                        </button>
                        <br>
                    </div>

                    <div class="text-center">
                        <a id="forget-password" href="#/forget" class="btn"> Mot de passe perdu </a>
                        <br>
                        <br>
                        <a id="register-btn" href="#/signin" class="btn"> Créer un compte </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>