.login {
    position:relative;
    text-align: center;
}

.login .content {
    background-color: #fff;
    width: 360px;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 7px;
    font-size: 1.1em;
}

.login .content h2 {
    font-size: 1.4em;
    margin-top: 0;
    color: #555; }

.login .content p {
    font-size: 1.1em;
    margin-bottom: 0;}

.login .content .input-icon {
    border-left: 2px solid #36c6d3 !important;
    border-radius: 4px; }

.login .content .input-icon .form-control {
    border-left: 0; }

.login .content .form-title {
    font-size: 1.7em;
    margin-bottom: 25px; }

.login .content .form-actions {
    background-color: #fff;
    clear: both;
    position: relative;
    border: 0px;
    border-bottom: 1px solid #eee;
    padding: 1em;
    margin: -1em 1em 1em;}

.login .content .form-actions .checkbox {
    margin-top: 8px;
    display: inline-block; }

.login .btn {
    margin: 0;
    font-size:.8em;
    padding:.7em 2em;
}

.login .content .form-actions .btn {
    font-size:.9em;
    margin-top: 1px; }

/* select2 dropdowns */
.login .content .select2-container {
    border-left: 2px solid #44B6AE !important; }

.login .content .select2-container .select2-choice {
    border-left: none !important; }

.login .content .select2-container i {
    display: inline-block;
    position: relative;
    color: #ccc;
    z-index: 1;
    top: 1px;
    margin: 4px 4px 0px -1px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center; }

.login .content .has-error .select2-container i {
    color: #b94a48; }

.login .content .select2-container a span {
    font-size: 13px; }

.login .content .select2-container a span img {
    margin-left: 4px; }

@media (max-width: 480px) {
    /***
    Login page
    ***/
    .login .content {
        width: 280px; }
    .login .content h3 {
        font-size: 22px; }
    .login .checkbox {
        font-size: 13px; } }