section.content {
    position:relative;
}

#etf-info-box-wrapper {
    content:"";

    position:fixed;
    top:0;
    left:0;

    display:none;

    width:100%;
    height:100%;

    overflow:hidden;

    cursor:pointer;

    z-index:122;

    background-color:rgba(0,0,0,.2);
}

#etf-info-box {
    position:absolute;

    max-width:780px;
    min-height:300px;

    margin:5% auto 0;

    cursor:default;

    z-index:123;

    -webkit-box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
    -moz-box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
    box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);

    -webkit-box-shadow: 10px 10px 150px 23px rgba(0,0,0,0.53);
    -moz-box-shadow: 10px 10px 150px 23px rgba(0,0,0,0.53);
    box-shadow: 10px 10px 150px 23px rgba(0,0,0,0.53);
}

#etf-info-box h3 {
    font-weight:bold;
    font-size:1.1em;
}

#etf-info-box .info-box-icon {
    position:absolute;
    height:100%;
    width:130px;

    padding:15px 20px;

    font-size: 75px;
}

#etf-info-box .info-box-content {
    margin-left: 140px;
    margin-bottom: 15px;
}

#etf-info-box .info-box-content .etf-info-details {
    float:right;

    font-weight:bold;

    margin-top:0px;
    margin-right: 11px;
}

#etf-info-box .info-box-content .infos {
    display:block;
    margin:-5px 0 15px;
    color:#37646F;
}

#etf-info-box .info-box-content .infos span {
    display:inline-block;
    margin-right: 5px;
}

#etf-info-box .info-box-content .infos span:before {
    content: attr(data-label) ": ";
}

#etf-info-box .info-box-content .etf-info-description {

}

#etf-info-box .info-box-content .map {
    display:inline-block;

    width:160px;
    height:116px;

    margin:15px 10px 0 2px;

    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: contain;
}

#etf-info-box .info-box-content #etf-info-sectors {

}

#etf-info-box h4 {
    margin-top:15px;
    margin-bottom:0;
    clear:both;
}

#etf-info-box #etf-info-history {
    margin-left: -9px;
}