section.content {
    position:relative;
}

#etf-info-box-wrapper {
    content:"";

    position:fixed;
    top:0;
    left:0;

    display:none;

    width:100%;
    height:100%;

    margin:0 auto;

    overflow:hidden;

    cursor:pointer;

    z-index:122;

    background-color:rgba(0,0,0,.2);
}

.page-sidebar-wrapper.ng-scope {
  z-index: 123;
  position: relative;
}

#etf-info-box {
    position:absolute;

    max-width:780px;

    margin:5% auto 0;

    cursor:default;

    z-index:105;

    background-color: #fff;

    -webkit-box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
    -moz-box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
    box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);

    -webkit-box-shadow: 10px 10px 150px 23px rgba(0,0,0,0.53);
    -moz-box-shadow: 10px 10px 150px 23px rgba(0,0,0,0.53);
    box-shadow: 10px 10px 150px 23px rgba(0,0,0,0.53);
}

#etf-info-box h3 {
    font-weight:bold;
    font-size:1.1em;
}

#etf-info-box i,
#etf-info-box button {
    color:rgba(255,255,255,.85);
}

#etf-info-box .info-box-icon {
    position:absolute;
    height:100%;
    width:130px;

    padding:15px 20px;

    font-size: 75px;
}

#etf-info-box .info-box-content {
    margin-left: 140px;
    margin-bottom: 15px;
    padding: 0 13px 10px 10px;
}

#etf-info-box .info-box-content .etf-info-details {
    float:right;

    font-weight:bold;

    margin-top:0px;
    margin-right: 11px;
}

#etf-info-box .info-box-content .infos {
    color:#818688;
}

#etf-info-box .info-box-content .infos span {
    display:inline-block;
    margin-right: 5px;
}

#etf-info-box .info-box-content .infos span:before {
    content: attr(data-label) ": ";
}

#etf-info-box .info-box-content .etf-info-description {
    margin:10px 0 0;
}

#etf-info-box .portlet.light {
    padding:0;
}

#etf-info-box .portlet.light .nav.nav-tabs {
    float:left;
}

#etf-info-box .scroller {
    min-height:200px;
    max-height:600px;
}

#etf-info-box button {
    margin-bottom:13px;
}