<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">Mes préférences d'investissement</span>
                </div>
            </div>
            <div class="portlet-body">
                <div client-portfolio-settings></div>
                <div class="margiv-top-10">
                    <a href="javascript:void(0)" class="btn green-haze"
                       ng-click="client.settings.portfolio.save()"> Enregistrer les changements </a>
                    <button type="button" ng-click="client.settings.portfolio.reset()" class="btn default"> Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>