.col-lg-12 .portlet > .portlet-title {
	min-height: 0;
	margin-bottom: 4px;
}

#new-strategy-keywords .questionnaire-sentence-keywords {
	margin-top: 0;
}

#new-strategy-keywords .questionnaire-sentence-keyword {
	border: none;
	color: white;
	padding: 0 2px;
	margin: 0px;
	background-color: transparent;
}

#new-strategy-keywords .questionnaire-sentence-keyword:after {
	content: ', ';
}

#new-strategy-keywords .questionnaire-sentence-keyword:last-child:after {
	content: '.';
}

strategy-keywords {
	display: inline-block;
}

.incomming {
    display: inline-block;
	padding: 1px 30px;
    margin-bottom: 3px;
	background-color: #ff8f8f;
	color: white;
	border-radius: 30px !important;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-style: normal;
	font-size: 70px;
	top: 6px;
	margin-left: -5px;
	position: relative;
}

.dashboard-stat .visual > i.fa-euro {
	font-size: 80px;
	margin-left: -2px;
	position: relative;
	bottom: 2px;
}

.portfolio-description {
    margin: 2em 1em -1em;
}

table .compo-filter {
	padding : 2px 8px;
	border : 1px solid #DEDBDB;
	cursor : pointer;
	margin : 0 1px;
	border-radius : 4px;
}

table .selected {
	background-color : #DEDBDB;
}

#profits-investment  {
	height: 400px;
}

.small-box>.small-box-footer {
	bottom: 0;
	display: block;
	width: 100%;
}

#sector{
	position: relative;
}

#sector .info-box {
		-webkit-box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
		-moz-box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
		box-shadow:1px 4px 17px -2px rgba(0,0,0,0.75);
		position: absolute;
		left: 202px;
		top: 141px;
		color: #333;
		display: none;
		z-index:900;
		max-width: 400px;
}

#sector .info-box .info-box-title{
	font-size: 16px;
	font-weight: bold;
}
#sector .info-box .info-box-icon {
	position:absolute;
	height:100%;
}
#sector .info-box .btn,
#sector .info-box .info-box-icon {
	transition:background-color 1s, color 1s;
}

#sector .info-box button {
	float: right;
	font-size: 14px;
	margin-bottom: 6px;
}

.etf-list-component .etf-column.value,
.etf-list-component .etf-column.gains  {
	text-align: right;
}

.etf-list-component .etf-column.number,
.etf-list-component .etf-column.quantity  {
	text-align: center;
}

.etf-list-component .etf-column.total,
.etf-list-component .etf-column.cash,
.etf-list-component .etf-column.total-gains {
	font-weight: 700;
}

.blue {
	background-color: #00aabe !important;
}

#maps .portlet .caption-subject {
	/*color: #fff;*/
}

#choix-period-historique-synthese {
	width: initial;
	float: right;
}

#sector .portlet-title {
	margin-bottom: 0;
}

.portlet-title .caption-subject{
	padding-left: 22px;
}

.portlet-body {
	font-size: 15px;
}

.infos-principales {
	text-align: center;
}
.infos-principales span {
	color: #32c5d2;
}

.infos-principales .number {
	font-size: 50px;
	margin-top: -10px;
}


.infos-supplements {
	text-align: center;
	margin-top: 33px;
}

.infos-supplements table{
	font-size: 17px;
	margin: auto;
}

.infos-supplements td {
	padding-right: 40px;
	text-align: left;
}


.infos-supplements table .type {
	color: #38cf63;
}

.infos-supplements table .percent {
	color: #32c5d2;
	padding-right: 0;
}

.infos-supplements table .percent .fa{
	color: #38cf63;
}

#graph-synthese .portlet{
	background-color: #36c6d3 !important;
	height: 362px;
}

#portfolio .portlet {
	margin-bottom: 0px;
	height: 320px;
}

#portfolio .portlet-title {
	min-height: 30px;
	margin-bottom: 0;
}

.infos-principales .result-up {
	color:  #38cf63;
}

.infos-principales .result-down {
	color:  red;
}

.infos-sythese {
	padding-top: 42px;
}

.portlet-title{
	color: #36c6d3;
	text-align: center;
	font-size: 18px;
}

#portfolio .portlet-title .tools {
      float: none !important;
      position: absolute;
      left: 24px;
}

#portfolio .portlet-title .tools a {
    color: #4B535A !important;
}

#portfolio .portlet-title .left, #sector .portlet-title .left, #table-synthese .portlet-title .left,
#list-etfs .portlet-title .left {
	float: left;
}

#sector .portlet-title {
  margin-bottom: 22px;
}

#portfolio .portlet-title .left a i, #sector .portlet-title .left a i, #table-synthese .portlet-title .left a i,
#list-etfs .portlet-title .left a i {
	color: rgb(127, 123, 123);
}


#portfolio .portlet-title .right, #sector .portlet-title .right, #table-synthese .portlet-title .right,
#list-etfs .portlet-title .right {
	float: left;
}

#portfolio .portlet-title i, #sector .portlet-title i, #table-synthese .portlet-title i,
#list-etfs .portlet-title i {
	font-size: 27px;
	position: absolute;
    left: 24px;
    color: #4B535A
}

#table-synthese, #list-etfs {
	display: none;
}

#table-synthese tr th, #list-etfs tr th{
	color: rgb(127, 123, 123);
	font-size: 16px;
	font-weight: 500;
}

#table-synthese tr td, #list-etfs tr td{
	font-size: 13px;
}

#table-synthese .date{
	color: #38cf63
}

#table-synthese .valeur {
	color: #38cf63;
	text-align: right
}

#btn-investissement{
	font-size: 26px;
	position: relative;
	top: 149px;
	text-align: center;
	color: rgb(255, 255, 255);
}

#btn-investissement i {
	padding-right: 10px;
}

#btn-investissement a {
	color: rgb(255, 255, 255);
}

.btn {
	border: 0;
	border-radius: 300px !important;
	text-transform: uppercase;
	font-family: 'Poiret One', Arial, cursive;
	font-weight: 700;
	font-size: 14px;
	background-color: #ddd;
}

body .btn-primary {
	border-color: #83DBE3;
	color: #fff;
	background-color: #83DBE3;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	padding: 1.2em 2em;
	background-image: linear-gradient(to bottom, rgba(10, 198, 211, 0.05) 0, #36c6d3 100%);
	/*margin-top: -30px;*/
	margin: 0;
}

body .btn-primary .badge {
	color: #83DBE3;
	background-color: #fff;
}

.btn-default, body .btn-primary {
	transition: none;
}

body .btn-primary:hover, body .btn-primary:focus {
	background-color: rgba(54, 198, 211, 1);
	background-image: none;
}

#strategy-demo p {
	margin-bottom: 5px;
}

#strategy-demo a {
	margin-bottom: 10px;
}

#portefeuille .col-right{
    padding-left: 0px;
}

.text-risk {
	position: absolute;
	right: 57px;
	top: 14px;
}

.text-risk span{
	color: #38cf63
}