<div class="filter-question">
    <label ng-show="node.text"><span>{{node.text}}</span></label>
    <div ng-if="root.children" ng-init="first = root.children[0]">
        <div ng-repeat="child in root.children">
            <div class="node-col">
                <input type="radio" name="{{node.id}}" id="{{child.id}}" class="aCheck filter-checkbox"
                       ng-checked="child.id == first.id"
                       ng-click="questionnaire.current.node = child.goto;
                                 questionnaire.children(child.goto)">
                <label for="{{child.id}}">
                    <span>{{child.text}}</span>
                    <i class="fa fa-angle-right"></i></label>
                <div id="children-{{child.goto}}" class="filter-items children">
                    <div class="filter-question filter-question-nodes" ng-show="questionnaire.current.node.id == child.goto">
                        <!--<label ng-show="node.text"><span>{{node.text}}</span></label>-->
                        <div ng-if="node.children">
                            <div class="filter-question-answer" ng-repeat="child in node.children"
                                 ng-init="node.type = node.type || 'radio'">
                                <input ng-if="node.type == 'radio'" type="radio" name="{{node.id}}" id="{{child.id}}"
                                       class="filter-checkbox"
                                       ng-checked="questionnaire.history.exists(child.id)"
                                       ng-click="questionnaire.current.node = child.goto;
                                                 questionnaire.history.add(node, child);
                                                 questionnaire.history.query();
                                                 questionnaire.children(child.goto)">
                                <input ng-if="node.type != 'radio'" type="checkbox" name="{{node.id}}" id="{{child.id}}"
                                       class="filter-checkbox"
                                       ng-checked="questionnaire.history.exists(child.id)"
                                       ng-click="questionnaire.history.add(node, child);
                                                 questionnaire.history.query();">
                                <label for="{{child.id}}">
                                    <span>{{child.text}}</span>
                                    <i class="{{child.icon}}"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>