<div class="filter-question">
    <label ng-show="node.text"><span>{{node.text}}</span></label>
    <div ng-if="root.children" ng-init="first = root.children[0]">
        <div ng-repeat="child in root.children">
            <input type="radio" name="{{node.id}}" id="{{child.id}}" class="aCheck filter-checkbox"
                   ng-checked="child.id == first.id"
                   ng-click="questionnaire.current.node = child.goto;
                             questionnaire.history.add(node, child);
                             questionnaire.history.query();
                             questionnaire.children(child.goto)">
            <label for="{{child.id}}">
                <span>{{child.text}}</span>
                <i class="fa fa-angle-right"></i></label>
        </div>
    </div>
</div>