.questionnaire-component {
    overflow: hidden;
}

.questionnaire-component input.filter-checkbox {
    position: absolute;
    left: -111px;
    opacity:0;
}

.questionnaire-component label {
    display:inline-block;
    padding: 7px 12px;
    width:100%;
    margin:0;
    position: relative;
}

.questionnaire-component input.filter-checkbox.filter-group + label {
    border-bottom: 1px solid #3d4957;
}

.questionnaire-component input.filter-checkbox.filter-group:focus + label,
.questionnaire-component input.filter-checkbox.filter-group + label:hover {
    background-color: rgba(0,0,0,.2);
}

.questionnaire-component input.filter-checkbox + label span + i {
    position: absolute;
    right: 15px;
    margin-top: 4px;
}

.questionnaire-component .filter-question-nodes input.filter-checkbox + label span + i {
    position: absolute;
    right: 25px;
    top: 4px;
    margin: 0;
}

.questionnaire-component input.filter-checkbox.filter-group + label + div {
    height: 0;
    overflow: auto;
    transition: height .3s;
}

.questionnaire-component input.filter-checkbox.filter-group:checked + label + div {
    display: block;
    height: initial;
    visibility: visible;
    background-color: #fff;
    color: #0b1014;
}

.questionnaire-component input.filter-checkbox.filter-group:checked + label + div label {
    border-top: 1px solid rgba(0,0,0,.03);
}

.questionnaire-component input.filter-checkbox.filter-group + label span {
    display: inline-block;
    margin-left: 5px;
}

.questionnaire-component .filter-history,
.questionnaire-component input.filter-checkbox + label:hover,
.questionnaire-component input.filter-checkbox:checked + label + div input.filter-checkbox:checked + label {
    color: rgb(255, 255, 255);
    background-color: rgb(54, 198, 211);
}

.questionnaire-sentence-keywords {
    display: block;
    margin-top: 5px;
}

.questionnaire-sentence-keyword {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 8px;
    color: rgb(54, 198, 211);
    border: rgb(54, 198, 211);
    border-style: solid;
    border-width: 2px;
    border-radius: 9px !important;
    padding: 0px 33px;
    background-color: white;
}

.questionnaire-sentence-keyword a {
    position: relative;
    font-weight: normal;
}

.questionnaire-sentence-keyword:focus a:before,
.questionnaire-sentence-keyword:hover a:before {
    display: none;
}

.questionnaire-sentence-keyword:hover a:before,
.questionnaire-sentence-keyword:focus a:before {
    content: "x";
    display: inline-block;
    position: absolute;
    background-color: #555;
    color: #fff;
    font-size: .6em;
    top: -10px;
    right: -7px;
    /* padding: 0 8px; */
    border-radius: 50%;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    cursor:pointer;
}

.questionnaire-component .filter-history {
    border-top: 1px solid rgba(255,255,255,.3) !important;
}

.questionnaire-component .filter-history:first-child {
    border-top: none;
}

.questionnaire-component {
    overflow:hidden;
}

.questionnaire-component .filter-history {
    display: inline-block;
    position: relative;
}

.questionnaire-component .filter-history:before,
.questionnaire-component .filter-history:after {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 1;
}

.questionnaire-component .filter-history:before {
    display: none;
    width: 40px;
    height:10px;
    right: -5px;
    bottom:-10px;
    background-color: #fff;
    z-index:2;
}

.questionnaire-component .filter-history:after {
    transform: rotate(45deg);
    right: -12px;
    top: 2px;
    width: 30px;
    height: 23px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    background-color: rgb(54, 198, 211);
    z-index: 1;
}

.questionnaire-component .filter-history label {
  padding: 5px 12px 7px 25px;
}

.questionnaire-component .filter-history span {
    display:inline-block;
    position:relative;
    z-index:2;
}

.questionnaire-component .filter-question > label,
.questionnaire-component input.filter-checkbox + label {
    color: #fff;
    margin-bottom: 2px;
}

.questionnaire-component input.filter-checkbox + label {
    font-size: 1.1em;
    color: rgb(54, 198, 211);
    border: rgb(54, 198, 211);
    border-style: solid;
    border-width: 2px;
    border-radius: 9px !important;
    background-color: white;
    padding: 2px 12px;
    margin-bottom: 10px;
}

.questionnaire-component .filter-question > label,
.questionnaire-component input.filter-checkbox:checked + label {
    color: white;
    border: rgb(54, 198, 211);
    border-style: solid;
    border-width: 2px;
    border-radius: 9px !important;
    background-color: rgb(54, 198, 211);
    padding: 2px 12px;
    margin-bottom: 10px;
}

.questionnaire-component .filter-question-answer input.filter-checkbox:checked + label {
    background-color: rgba(54, 198, 211, 1);
}

.questionnaire-component input.filter-checkbox.aCheck + label i:before {
    visibility: hidden;
}

.questionnaire-component input.filter-checkbox.aCheck:checked + label i:before,
.questionnaire-component input.filter-checkbox.aCheck + label:hover i:before {
    visibility: visible;
}

.questionnaire-component .filter-items .filter-question {
    background-color: #fff;
}
.questionnaire-component .filter-question > label {

}

.questionnaire-component .filter-question-end {
    padding-bottom: 20px;
}

.questionnaire-component .filter-question-answer label {

}

.questionnaire-component .filter-question-end [ng-etf-list] {
    max-height: 310px;
    overflow: auto;

    padding-bottom: 20px;
    border: 1px solid #ddd;
    padding: 0 !important;
    margin: 0px 30px 15px;
}

.questionnaire-component .filter-question-end [ng-etf-list] table {
    margin: 0;
}

.questionnaire-component .filter-question-end input.aCheck[type=checkbox]:checked + label:before {
    left: -11px;
    top: -7px;
}

.node-col {
    float: left;
    margin-right: 15px;
}