<div class="etf-list-component">
    <div class="etf-list-component-table"></div>

    <div class="etf-info-box-wrapper" title="Cliquez pour fermer" ng-controller="PopupInfosController"
         data-etf-popup-infos>
        <div class="etf-info-box" title="" ng-draggable>
            <div class="info-box-icon bg-green"><i class="fa fa-area-chart"></i></div>
            <div class="info-box-content">
                <h3 class="info-box-text">{{etf.name}}</h3>

                <div class="infos">
                    <span class="isin" data-label="ISIN">{{etf.isin}}</span>
                    <span class="cloture" data-label="Dernière clôture">{{etf.price}} &euro;</span>
                    <span class="dividente" data-label="Dividendes">4,3 %</span>
                </div>

                <p class="etf-info-description" ng-bind-html="etf.description"></p>

                <div class="scroller-zone">
                    <h4>Répartition sectorielle</h4>
                    <sector-chart-pie
                            data-height="200"
                            data-model="etf.isin"
                            data-show-in-legend="false"></sector-chart-pie>

                    <h4>Répartition dans le monde</h4>
                    <map height="180" data-model="etf.isin"></map>

                    <h4>Performance historique</h4>
                    <div class="etf-info-box-chart-performance"></div>
                </div>

                <button class="btn bg-green pull-right">Fermer</button>
            </div>
        </div>
    </div>
</div>