html, body {
    height: auto !important;
}

header {
    text-align: center;
    padding: 2em;
    margin-top: 4em;
    min-height: initial;
    background: none;
    background-color: rgba(54, 198, 211, 0.8);
}

header h1 {
    text-transform: uppercase;
    font-size: 1.4em;
    margin-top: 20px;
    font-weight: bold;
}

header h2 {
     font-size: 4em;
     margin-bottom: 0.5em;
}

header p {
    font-size: 1.8em;
}

.text-white {
    line-height: 1.1;
    font-size: 1.5em;
    margin-left: 13em;
    margin-right: 13em;
    color: white;
}

section h3 {
    font-weight: bold;
}

section {
    padding: 5em 10em;
}

section input, section textarea {
    display: block;
    border: none;
    background: none;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    margin-bottom: 1.3em;
    font-size: 1.3em;
    transition: border-color .8s;
}

section input:focus, section textarea:focus {
    color: rgba(50, 190, 200, 1);
    border-color: rgba(54, 198, 211, 1);
    border-bottom-width: 2px;
    padding-bottom: 3px;
}

dl {
    font-size: 1.4em;
    text-align: right;
    margin-left: 5.5em;
}

dt, dl {
    display: inline-block;
    float: left;
}

dt {
    width: 30%;
}